.main-board {
  overflow: auto;
  max-height: calc(100vh - 48px);
  z-index: 2998;
  background: #f5f5f5;
  // margin-top: -70px;
  padding-bottom: 16px;
  padding-top: 2px;
  height: calc(100vh - 48px);
  border-radius: 0px;
  margin-top: -3px;

  .inner-board {
    // box-shadow: 0px -2px 6px #cfcbcb;
    // border-radius: 6px !important;
    height: calc(100%);
    width: calc(100% - 0px);

    .q-layout {
      .q-toolbar {
        background: $bg-white;
        color: black;
        // padding: 8px;
      }
    }
  }
}

// .app-main-layout{
//   &.mobile-view{
//     .main-board{
//       // padding-top: 4px;
//     }
//   }
// }

.menu-header {
  font-size: 24px;
  border-bottom: 2px solid #4caf50;
  margin-bottom: 16px;
  margin-top: 16px;
  max-width: 400px;
}
.app-header {
  background: #0a0a0a;
  background: $app-blue;
  color: black;
  box-shadow: none;
}
.main-header {
  background: $bg-header;
  color: white;
  background: linear-gradient(
    45deg,
    rgb(12, 38, 70) 0px,
    rgb(32, 64, 101) 70%,
    rgb(42, 87, 136)
  ) !important;
}
.extended-header {
  height: 80px;
  box-shadow: 0px 16px 16px rgb(0 0 0 / 20%);
}
.app-drawer {
  color: black;
  overflow: hidden;
  // background: linear-gradient(0deg, rgb(12, 38, 70) 0px, rgb(32, 64, 101) 90%, rgb(42, 87, 136)) !important;
  // background: $bg-header !important;
  // box-shadow: 0px 0px 4px #bbb;
  background: url("/images/etc-bg-2.png");
  background-size: cover;
  background: #ebebeb;
  background: white;

  .drawer-item {
    color: black;
  }
}
// .sticky-menu-header{
//     background: $bg-drawer;
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0px;
//     z-index: 300;
// }
.menu-item {
  padding: 8px;
  height: 160px;

  .q-btn {
    height: 100%;
    width: 100%;
  }
}
.menu-item-label {
  font-size: 14px;
  text-align: left;
  width: 100%;
  min-height: 32px;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
}
.board-toggle-filter {
  margin-top: 16px;
  display: flex;
}
.dashboard-card {
  margin: 8px;
  // box-shadow: 0px 0px 5px #777;
  // border-radius: 8px;
  justify-content: center;
  text-align: center;
  padding: 8px;

  .val {
    font-size: 2em;
    font-weight: bold;
  }

  .q-item__label {
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}

.sticky-board-toolbar {
  position: -webkit-sticky;
  position: sticky;
  background: white;
  z-index: 21;
  top: -16px;
}

.card-stats [class*="col-md"] .dashboard-card:after {
  position: absolute;
  right: 0;
  top: 20px;
  width: 1px;
  height: calc(100% - 40px);
  content: "";
  background: #ddd;
}

.board-expansion-header {
  font-size: 1rem !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 20;
  background: inherit;
}
.board-bg-color {
  background-color: #ebecf1;
}
.q-page-container {
  background-color: #ebecf1;
  height: 100vh;

  &.mobile {
    height: calc(100vh - 72px);

    // .main-board {
    //   // height: calc(100vh - 108px);
    //   height: calc(100% + 30px);
    // }
  }
}

@media (min-width: 600px) {
  .q-dialog__inner--minimized > div {
    min-width: 560px;
  }

  .q-dialog__inner--minimized > .confirmation-dialog {
    height: calc(100vh - 48px);
  }
}

.head-tooltip {
  background: #f5f5f5;
}

.inner-board-layout {
  .absolute-full {
    right: 0px !important;
  }

  .inner-board-header {
    background: transparent;
    // border-bottom: 1px solid #eee;

    .app-title {
      font-size: 2.5em;
      font-weight: bold;
      // text-transform: inherit;
      padding: 8px;
    }
  }
  .q-page-container {
    background: $bg-white;
  }
}

.report-carousel {
  .q-carousel__slide {
    padding-right: 4px !important;
    padding-left: 4px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .q-carousel__navigation--bottom {
    bottom: 4px;
  }
}
.comment-entry {
  background: white;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.3);
}

// Dark mode
.body--dark {
  // .q-card {
  //   // background: transparent;
  //   background: $bg-dark-1;
  // }

  .app-header {
    background: #0a0a0a;
  }

  .comment-entry {
    background: #1e1e1e !important;
  }

  .displayAreaViewport {
    background: #1e1e1e !important;
  }
  .q-page-container {
    background-color: $bg-dark;
  }

  .app-footer {
    background-color: $bg-dark-0;
  }

  .app-drawer {
    color: white;
    background: #0a0a0a;
    box-shadow: 0px 0px 4px #000;

    .drawer-item {
      color: white;
    }
  }

  .main-board {
    background: $bg-dark-1;
  }

  .inner-board {
    background: $bg-dark-tint;
    color: white;
    box-shadow: 0px -2px 12px $bg-dark;

    .q-card {
      // background: transparent;
      background: $bg-dark-1;

      .q-field {
        color: white;
      }
    }

    .q-layout {
      .q-toolbar {
        background: $bg-dark-1;
        // background-color: transparent;
        color: white;
      }
    }
  }

  .q-tab-panels {
    background: transparent !important;
  }

  //PO Management layout, etc.
  .inner-board-layout {
    background: $bg-dark-tint;

    .inner-board-header {
      background: $bg-dark-tint;
      border-bottom: 1px solid $bg-dark-tint;
    }

    .q-drawer {
      background: $bg-dark-tint-solid;
    }

    .q-page-container {
      background: transparent;
    }
  }

  .sticky-board-toolbar {
    background-color: $bg-dark;
  }

  .q-field__native,
  .q-toolbar__title,
  .toggle-main-drawer {
    color: rgb(238, 224, 224);
  }

  .head-tooltip {
    // background: rgba(110,91,91,0.1);
    background: transparent;
  }

  // .q-field__inner,
  // .q-field__control{
  //     background: transparent !important;
  // }

  .q-item--clickable {
    &:hover {
      background: rgba(0, 0, 0, 0.8);
      //border-radius: 32px;
    }
  }

  .confirmation-dialog {
    .inner-panel {
      background: #2e2828;
    }
  }

  ::-webkit-scrollbar-thumb {
    /* background: #5b9bd5;
          background: #ccc;
          background: #847f7f; */
    /* background: rgba(12, 110, 221, 0.5); */
    background: rgba(195, 215, 198, 0.3);
  }

  ::-webkit-scrollbar-corner {
    background: var(--q-dark);
  }
}
