.app-title {
  display: flex;
  // font-family: Archivo;
  // letter-spacing: 0.2rem;
  font-size: 1.2rem;
  padding-left: 16px;
  overflow: initial;
  margin-right: 16px;
  // margin-top: 16px;

  &.in-board {
    font-size: 2.5em;
    font-weight: bold;
    padding: 8px;
  }
}

.q-dialog__inner--minimized {
  padding: 0px;
}

.app-main-layout {
  &.mobile-view {
    .app-title {
      font-size: 1rem;
    }

    .head-tooltip {
      font-size: 0.75rem;
    }
  }
}

.q-tab-panel {
  padding: 8px;
}

// sm
@media (min-width: 600px) {
  .row {
    .col-sm-none {
      display: none;
    }
  }
}

//tablet
@media (min-width: 768px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: inherit;
  }
}
//tablet
@media (max-width: 768px) {
  .show-mobile {
    display: inherit;
  }
  .hide-mobile {
    display: none;
  }
}
